.closeIcon {
    position: absolute; 
    margin:-0.75rem auto auto 14.8rem;
    color: rgb(253, 243, 243); 
    width:1.4rem;
    height:1.4rem;
    border-radius: 50%;
    text-align:center;
    background: #ee3838;
}

.calendarIcon {
    position: absolute; 
    margin:-1.35rem auto auto 14rem;
    color: rgb(253, 243, 243); 
    width:1.4rem;
    height:1.4rem;
    border-radius: 50%;
    text-align:center;
    background: rgb(73, 72, 72);
    color: rgb(193, 192, 192);
}

