    <div  *ngIf="resTodo" style="align-content:center ;position: absolute;">
    <div *ngFor="let item of resTodo" class="card-body" >
            
        <div class="card" style="width: 16rem;background-color:rgb(220, 220, 220)">
        <label style="background-color:rgb(220, 220, 220);">
            <div class="card-img-top" style="background-color: rgb(73, 72, 72);color: honeydew; height:4rem;">
                <div> <fa-icon  class="closeIcon" [icon]="['fas', 'times-circle']" ></fa-icon></div>
                <h2><p>{{item.title}}</p></h2> 
            </div >
            <div class="card-text" >
            <p>Detail: {{item.detail}}</p>
            </div>
            <div class="card-text" >
                    <p>xx-xx-xxxx</p>
                    <div> <fa-icon  class="calendarIcon" [icon]="['fas', 'calendar-alt']" ></fa-icon></div>
            </div>
        </label>
        </div>
       
    </div>
    </div>


